.main-div {
    //padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    //border: solid red;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 500px;
    width: 730px;
    //border: solid green;
    border-radius: 7px;
}

.container {
    //border: solid blue;
    width: 60%;
}

.title {
    padding-left: 30px;
}

.login-form {
    padding: 20px;
}

.formControl {
    height: 20px;
}

.fundoo {
    //border: solid black;
    width: 100%;
    height: 20%;
    margin-top: 30px;
    gap: 1px;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.F {
    color: #4285F4;
    font-family: Google Sans;
    font-size: 30px
}

.U {
    color: #DB4437;
    font-family: Google Sans;
}

.N {
    color: rgb(146, 4, 228);
    font-family: Google Sans;
}

.D {
    color: #F4B400;
    font-family: Google Sans
}

.O {
    color: #0F9D58;
    font-family: Google Sans
}

.O {
    color: rgb(146, 4, 228);
    font-family: Google Sans;
}

.sub-title {
    margin-top: 20px;
    display: flex;
    font-size: 22px;
    color: black;
    justify-content: flex-start;
}

.form {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.form1 {
    display: flex;
    gap: 10px;
}

.form2 mat-form-field {
    width: 410px;

}

.form3 {
    display: flex;
    gap: 20px;
}

.LoginButton {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.checkbox {
    display: flex;
    margin-bottom: 10px;
}

.image {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 100px;
    left: 15px;
    height: 50%;
    //border: solid red;
}

@media only screen and (max-width: 900px) {

    .card {
        width: 450px;
        height: 500px;
    }

    .container {
        width: 100%;
        height: 100%;
    }

    .image {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: baseline;

    }

    .container {
        width: 100%;
        height: 60%;
        padding: 20px;

    }

    .fundoo {
        margin-top: 50px;
    }

    .form1,
    .form3 {
        display: flex;
        flex-direction: column;
    }

    .form2 mat-form-field {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        gap: 20px;
    }
    .image {
        display: none;
    }
    .LoginButton {
        width: 80%;
        display: flex;
        justify-content: flex-end;
    }
}