<div class="main-div">
    <mat-card class="card">
        <div class="container">
            <div class="title">
                <mat-card-title class="fundoo">
                    <div class="F">F</div>
                    <div class="U">U</div>
                    <div class="N">N</div>
                    <div class="D">D</div>
                    <div class="O">O</div>
                    <div class="O">O</div>
                </mat-card-title>
                <div>
                    <mat-card-content class="sub-title">Create your Fundoo Account</mat-card-content>
                </div>
            </div>
            <Form [formGroup]="regform" (ngSubmit)="regSubmit()" class="form">
                <div class="form1">
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="First Name" formControlName="firstName">
                        <mat-error *ngIf="regform.value.firstName">Enter your Last name</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Last Name" formControlName="lastName">
                        <mat-error *ngIf="regform.value.lastName">Enter your Last name</mat-error>
                    </mat-form-field>
                </div>
                <div class="form2">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email">
                        <mat-error *ngIf="regform.value.email">Enter your last name</mat-error>
                        <mat-hint>You can use letters, numbers & periods</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form3">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" type="password" formControlName="password">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="Confirm Password" type="password" formControlName="conpassword">
                        <mat-error *ngIf="regform.value.conpassword">Enter Confirm Password</mat-error>
                    </mat-form-field>
                </div>
                <div class="checkbox">
                    <mat-checkbox class="pass">Show Password</mat-checkbox>
                </div>
                <div class="LoginButton">
                    <button mat-flat-button type="submit" color="primary" class="registerbtn">Next</button>
                </div>
            </Form>
        </div>
        <div class="image">
            <img src="assets/account.svg">
            <div class="imgtext">One account. All of Fundoo working for you.</div>
        </div>
    </mat-card>
</div>