.Allsearchbox {
    border: 2px ;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    background: #f1f3f4;
    border-radius: 15px;
    width: 700px;
    height: 45px;
    margin-top: 1px;
    margin-left: 80px;
}

.inputSearchbox {
    margin-left: 10px;
    margin-top: 10px;
    height: 15px;
    border: 0px;
    background: none;
    width: 800px;
    font-size: medium;
    outline: none;
}

.toolbar {
    //border: 1px solid red;
    background: white;
    border-bottom: solid 1px rgb(218, 212, 212);
    margin-bottom: 1px;  
}

.toolbarbuttons {
    cursor: pointer;
    background: transparent;
    border: #f1f3f4;
    margin-left: 15px;
    margin-top: 10px;
    display: inline-block;
}

.Logouttool {
    border: 2px solid red;
    display: flex;
    margin-left: 11%;
}

.menubuttons {
    height: 40px;
    width: 100%;
}
//DownPanel
.downcontainer  
{
    background-color: #fff;
    border: 2px solid red;
    display: flex;
    height: 200%;
    width: 99%;
    //height: 100px;
    // height: calc(100% - 64px);
    // min-height: auto;
    // overflow: hidden;
    // padding-top: 8px;
    // position: fixed;
    // top: 64px;
  //  transition-timing-function: cubic-bezier(0.4,0,0.2,1);
   // width: 280px;
    //z-index: 985;
   // border-radius: 100%;
}
sidenavcontainer{
    border: 2px solid rgb(98, 0, 255);
    width: 55%;
}
sidenav{
    border: 2px solid rgb(255, 51, 0); 
    width: 55%;
    height: 35%;
}
.rightname{
    border: 2px solid red; 
    display: flex;
    flex-direction: column;
    width: 500%;
    
    //
}

.labels:hover
{
    background-color: #feefc3;
    cursor: pointer; 
    //border-radius: 100%;
   // border-top-left-radius: 5px;
   //  border-top-left-radius:5px;
    //box-shadow: 0 0 5px rgba(199, 136, 26, 0.5);
}
@media only screen and (max-width: 800px){
    .Allsearchbox{
        display: none;
    }
}