.Allsearchbox {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    background: #f1f3f4;
    border-radius: 15px;
    width: 700px;
    height: 45px;
    margin-top: 1px;
    margin-left: 80px;
}

.inputSearchbox {
    margin-left: 10px;
    margin-top: 10px;
    height: 15px;
    border: 0px;
    background: none;
    width: 800px;
    font-size: medium;
    outline: none;
   
}

.toolbar {
    background: white;
    border-bottom: solid rgb(1, 1, 1) 1px;
    margin-bottom: 1px;
    
}

.toolbarbuttons {
    cursor: pointer;
    background: transparent;
    border: #f1f3f4;
    margin-left: 15px;
    margin-top: 10px;
    display: inline-block;
}

.Sidetool {
    margin-left: 200px;
}

.icons:hover {
    background-color: rgb(153, 17, 17);
}

.menubuttons {
    height: 40px;
    width: 100%;
}
//DownPanel
.downcontainer
{
    display: flex;
    height: 900px;
    
}
.labels:hover
{
    background-color: lightgrey;
    cursor: pointer;
}