<div class="maincontainer">
    <mat-card class="card">
        <mat-card-content>
            <div>
                <mat-card-title class="fundoo">
                    <div class="F">F</div>
                    <div class="U">U</div>
                    <div class="N">N</div>
                    <div class="D">D</div>
                    <div class="O">O</div>
                    <div class="O">O</div>
                </mat-card-title>
            </div>
            <div>
                <mat-card-title class="mattitle">Sign In</mat-card-title>
                <br>
                <mat-card-subtitle class="matsubtitle"><b>to continue to fundoo</b></mat-card-subtitle>
            </div>
            <form class="form" [formGroup]="loginform" (ngSubmit)="loginsubmit()">
                <div>
                    <mat-form-field appearance="outline" class="email">
                        <mat-label>Email id</mat-label>
                        <input matInput placeholder="Enter your email id" formControlName="email" />
                        <mat-error *ngIf="loginform.value.Email">Enter Valid Email</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="pass">
                        <mat-label>Enter your password</mat-label>
                        <input matInput placeholder="Enter your password" type="password" formControlName="password" />
                        <mat-error *ngIf="loginform.value.Password">Enter Your password</mat-error>
                    </mat-form-field>
                    <button mat-button class="forgot" routerLink="../Forget"><b>ForgotPassword?</b></button>
                    <div class="login">
                        <button mat-button routerLink="../Registration" class="createaccount"><b>Create
                                Account</b></button>
                        <button mat-flat-button color="primary" class="nextbutton">Next</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>