.maincontainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 410px;
  height: 450px;
}

.fundoo{
  width: 100%;
  height: 20%;
  padding-top: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.F {
  color: #4285F4;
  font-family: Google Sans;
  font-size: 30px
}

.U {
  color: #DB4437;
  font-family: Google Sans;
}

.N {
  color: rgb(146, 4, 228);
  font-family: Google Sans;
}

.D {
  color: #F4B400;
  font-family: Google Sans
}

.O {
  color: #0F9D58;
  font-family: Google Sans
}

.O {
  color: rgb(146, 4, 228);
  font-family: Google Sans;
}

.mattitle{
  margin-top: 10px;
  width: 100%;
  height: 20%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.matsubtitle{
  display: flex;
  justify-content: center;
}
.form{
  margin-top: 20px;
  width: 100%;
  //height: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email{
  margin-top: 10px;
  width: 90%;
  height: 6vh;
}

.pass{
  margin-top: 20px;
  width: 90%;
  height: 6vh;
}

.forgot{
  margin-top: 50px;
  display: flex;
  align-self: flex-start;
}

.login{
  //width: 90%;
 // justify-content: flex-end;
  display: flex;
  flex-direction: row;
  gap: 170px;
}

.createaccount{
  color: #4285F4;
}

@media only screen and (max-width: 600px) {
  .card{
      width: 100%;
      height: 100%;
  }

  .fundoo{
      margin-top: 50px;
  }

  .login{
      width: 90%;
      display: flex;
      justify-content: space-between;
  }
}