.container{
    //border: 5px solid red;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;

    gap: 15px;
    margin-left: 3%;
    width: 100%;

}
.main{
    height: fit-content;
    border-radius: 10px 10px 10px 10px;
}
.icon
{
    margin-left: 1px;
    margin-right: 5px;
    display: flex;
}

.notes {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 280px;
}
.main:hover {
   box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);}

.title {
    margin-top: 5px;
   // width: 270px;
    display: flex;
    margin-left: 10px;
    font-size: 20px;
}
.description
{
    //display: flex;
    margin-left: 10px;
    font-size: medium;
}
@media  (min-width: 150px) and (max-width:670px){
    .notes{  
       // border-radius: 10px;
        display: flex;
        flex-direction: column;
        width: 500px;
    }
        .main{
            height: fit-content;
            border-radius: 10px 10px 10px 10px;
        }
        .container{
            //border: 5px solid red;
            margin-top: 5px;
            display: flex;
            flex-direction: column;
        width: 500px;
            //flex-wrap: wrap;
            //gap: 15px;
            //margin-left: 3%;
            //width: 100%;
        
        }
  
}


