`<div class="container">
    <div class="notes" *ngFor="let notes of noteslist | filter : filterNote"  >
        <mat-card class="main" [style.background]="notes.color">
            <!-- <div>
                <p>{{notes.noteID}}</p>
            </div> -->
            <div class="title">
                <p (click)="EditNoteDialogBox(notes)">{{notes.title}}</p>
            </div>
            <mat-card-content class="description">
                <p (click)="EditNoteDialogBox(notes)">{{notes.descrption}}</p>
            </mat-card-content>
            
            <div class="icon" >
                <app-icon [trashnoteC]="notes" [istrashed]="trash"  (RefreshEvent)="receiveMessage($event)"></app-icon>
            </div>
        </mat-card>
    </div>
</div>