.container{
    border: 5px solid red;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 3%;
    width: 105%;
}
.main{
    height: fit-content;
    border-radius: 10px 10px 10px 10px;
    
}
.icon
{
    //display: flex;
    //justify-content:space-evenly;
    
    //hover Fuctionality icon
    background-color:transparent;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    
}
.notes {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 280px;
    
}
.main:hover {
    border-color: #171718;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.25);
    
}
.container:hover .icon    {
    transform: translate(0%, 0%);
    opacity: 1;
}
.title {
    margin-top: 5px;
   // width: 270px;
    display: flex;
    margin-left: 10px;
    font-size: 20px;
}
.description
{
    //display: flex;
    margin-left: 10px;
    font-size: medium;
}
@media  (min-width: 150px) and (max-width:670px){
    .notes{  
       // border-radius: 10px;
        display: flex;
        flex-direction: column;
        width: 500px;
    }
        .main{
            height: fit-content;
            border-radius: 10px 10px 10px 10px;
        }
        .container{
            //border: 5px solid red;
            margin-top: 5px;
            display: flex;
            flex-direction: column;
        width: 500px;
            //flex-wrap: wrap;
            //gap: 15px;
            //margin-left: 3%;
            //width: 100%;
        
        }
  
}


