<div class="container">
    <div class="notes" *ngFor="let notes of noteslist | filter : filterNote"  >
        <div class="main" [style.background]="notes.color">
            <div>
                <p>{{notes.noteID}}</p>
            </div>
            <div class="title">
                <p (click)="EditNoteDialogBox(notes)">{{notes.title}}</p>
            </div>
            <div class="description">
                <p (click)="EditNoteDialogBox(notes)">{{notes.descrption}}</p>
            </div>
            <div class="icon">
                <app-icon [trashnoteC]="notes" (RefreshEvent)="receiveMessage($event)"></app-icon>
            </div>
        </div>
    </div>
</div>