.colorBoxSetting {
    border-color: chartreuse;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-radius: 100px;
    border: 0.5px solid grey;
    cursor: pointer;
}
.bg-color {
    height: 30px;
    width: 30px;
    display:flex;
    border-radius: 500px;
}

.background{
    display: flex;
    flex-wrap: wrap;
    max-width: 230px;
    padding: 10px 10px 5px 5px;
}